# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv

# VSCode folder
.vscode

# Env
env.json

# VitalDB cases
data

# Other papers
extern

# Tests
test*

# Latex
latex
