# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv

# VSCode folder
.vscode

# env and info files
env.json
*.csv

# Other papers
extern

# Tests
test*

# Latex
latex
