{
    "DATA_FOLDER": "/local/vincenco/IOH-Pred/data/",
    "TRACKS": [
        "SNUADC/ART",
        "Solar8000/PLETH_SPO2",
        "Orchestra/PPF20_CT",
        "Primus/CO2",
        "Solar8000/HR",
        "Solar8000/ART_MBP",
        "Solar8000/ART_DBP",
        "Solar8000/ART_SBP"
    ],
    "PREOP_INFO": [
        "preop_htn",
        "bmi",
        "age",
        "preop_dm",
        "preop_cr"
    ],
    "VERBOSE": true,
    "SAMPLING_RATE": 100,
    "WINDOW_SIZE": 20,
    "PRED_WINDOW": 10
}