{
    "dataFolder": "./data/",
    "tracks": [
        "SNUADC/ART",
        "Solar8000/PLETH_SPO2",
        "Orchestra/PPF20_CP",
        "Primus/CO2",
        "Solar8000/HR",
        "Solar8000/ART_MBP",
        "Solar8000/ART_DBP",
        "Solar8000/ART_SBP"
    ],
    "operations": [
        "Cholecystectomy",
        "Distal gastrectomy",
        "Distal pancreatectomy",
        "Exploratory laparotomy",
        "Hemicolectomy",
        "Hernia repair",
        "Low anterior resection",
        "Lung lobectomy",
        "Lung segmentectomy",
        "Lung wedge resection",
        "Thyroid lobectomy",
        "Total thyroidectomy"
    ],
    "verbose": true,
    "samplingRate": 100
}